.carousel-item {
    height: 350px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.carousel {
    height: 360px;
}

.carousel-caption a{
    text-decoration: none;
    color: white;
}

p.class {
    color: yellow;
}

div.blog-element {
    display: block;
    height: 200px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-element a{
    text-decoration: none;
    color: white;
    text-shadow: 0 1px 3px rgba(0,0,0,.5)
}

.second-row-padding:nth-child(2) {
    padding-right: 0;
}

.second-row-padding:nth-child(3) {
    padding-left: 0;
}

.third-row-padding {
    padding: 0;
}

.third-row-padding:nth-child(4) {
    padding-left: 12px;
}

.third-row-padding:last-child {
    padding-right: 12px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

